.footer {
    padding-bottom: 40px;
    padding-top: 240px;
    background-image: url("/assets/images/footerbg.svg");
    background-repeat: no-repeat;
    background-position: top;

    .footer__mobile {
        display: none;
    }

    &__inner {
        display: flex;
        flex-direction: column;

        &-up {
            display: flex;
            justify-content: space-between;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 3px;
                background-color: #DFDC01;
                bottom: -40px;
                width: 90%;
                stroke-width: 3px;
                left: 50%;
                transform: translateX(-50%);
            }

            ul {
                color: var(--prime-logo-bs-bcolours-logo-blue-purple, #2D2650);
                font-family: Handjet;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.25px;
            }

            li {
                color: var(--prime-logo-bs-bcolours-logo-dark-grey, #2B2A28);
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.7px;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                &:first-child {
                    margin-top: 16px;
                }
            }

        }

        &-upleft {
            width: 152px;
            height: 152px;
        }

        &-middle {
            text-align: center;
            margin: 42px auto;
        }



        &-upmiddle {
            display: grid;
            grid-template-columns: repeat(3, auto);
            width: 705px;
            justify-content: space-between;
            row-gap: 24px;
        }

        &-upright {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &-first {
                display: flex;
                flex-direction: column;
                gap: 7px;
                text-align: end;
            }

            &-txt {
                color: var(--prime-logo-bs-bcolours-logo-blue-purple, #2D2650);
                font-family: Handjet;
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.25px;
            }

            a {
                color: #2D2650;
                font-family: Handjet;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;
                text-align: end;
            }

            &-second {
                text-align: end;
                color: var(--prime-logo-bs-bcolours-logo-dark-grey, #2B2A28);
                text-align: right;
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.7px;
            }

            &-thirdin {
                display: flex;
                align-items: flex-end;
                text-align: flex-end;
                justify-content: flex-end;
                gap: 15px;
            }

        }

        &-down {
            &-textmobile {
                display: none;
            }

            display: flex;
            justify-content: space-between;

            &-text {
                color: var(--prime-logo-bs-bcolours-ancet-txt-grey, #555454);
                text-align: right;
                font-family: PT Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.7px;
            }
        }
    }

    @media screen and (max-width:1440px) {
        padding-bottom: 2.78vw;
        padding-top: 16.67vw;
        background-size: contain;

        &__inner {

            &-up {
                &::after {
                    height: 0.21vw;
                    bottom: -2.78vw;
                }

                ul {
                    font-size: 1.74vw;
                    letter-spacing: 0.1vw;
                }

                li {
                    font-size: 0.97vw;
                    letter-spacing: 0.04vw;

                    &:not(:last-child) {
                        margin-bottom: 0.83vw;
                    }

                    &:first-child {
                        margin-top: 1.11vw;
                    }
                }

            }

            &-upleft {
                width: 10.56vw;
                height: 10.56vw;
            }

            &-middle {
                margin: 2.92vw auto;
            }



            &-upmiddle {
                width: 48.96vw;
                row-gap: 1.67vw;
            }

            &-upright {
                gap: 1.11vw;

                &-first {
                    gap: 0.49vw;
                }

                &-txt {
                    font-size: 1.74vw;
                    letter-spacing: 0.1vw;
                }

                a {
                    font-size: 1.39vw;
                    letter-spacing: 0.07vw;
                }

                &-second {
                    font-size: 0.97vw;
                    letter-spacing: 0.1vw;
                }

                &-thirdin {

                    gap: 1.04vw;
                }

            }

            &-down {


                &-text {
                    font-size: 0.97vw;
                    letter-spacing: 0.4vw;
                    text-align: center;
                }
            }
        }
    }

    @media screen and (max-width:576px) {
        background-image: url("/assets/images/footerbgmobile.svg");
        background-size: contain;
        padding-top: 46.11vw;

        .footer__inner-upmiddle,
        .footer__inner-upleft {
            display: none;
        }

        .footer__inner-upright-second {
            display: none;
        }


        .footer__content {
            display: flex;
            flex-direction: column;
        }

        .footer__inner-down-textmobile {
            display: block;
        }

        .footer__inner-down-texttwo {
            display: none;
        }

        .footer__inner-upright-txt {
            font-size: 4.44vw;
        }

        .footer__inner-upright-info {
            a {
                font-size: 3.33vw;
            }

        }

        .footer__inner {
            order: 2;
        }

        .footer__mobile {
            display: block;
            order: 1;
        }

        &__mobile {
            gap: 30px;
            display: flex;
            flex-direction: column;

            .box {

                &.active {
                    .label::after {
                        transform: rotate(0deg);
                        // background-color: #2D2650;
                        transition: all 0.3s;

                    }
                }






                margin-bottom:25px;
                // &:not(:last-child) {
                //     // margin-bottom: 12px;
                // }

                .label {
                    // border-radius: 7px;
                    // background: var(--prime-logo-bs-bcolours-almost-white, #F5F5F5);
                    color: var(--prime-logo-bs-bcolours-logo-blue-purple, #2D2650);
                    font-family: Handjet;
                    font-size: 4.44vw;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.25vw;
                    position: relative;
                    // padding: 3.33vw 3.89vw;

                    &::after {
                        position: absolute;
                        content: url("/assets/images/footerMobileNext.svg");
                        // width: 8.89vw;
                        // height: 8.89vw;
                        transform: rotate(180deg);
                        top: 2.56vw;
                        // transform: translateY(-30%);
                        right: 44.67vw;
                        transition: all 0.3s;
                    }



                }

                .content {
                    position: relative;
                    max-height: 0;
                    overflow: hidden;
                    color: var(--prime-logo-bs-bcolours-logo-dark-grey, #2B2A28);
                    font-family: PT Sans;
                    // font-size: 4.44vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.25vw;
                    transition: 0.3;


                    ul {
                        li {
                            // position: relative;

                            &::before {
                                // position: absolute;
                                content: url("/assets/images/acordPoint.svg");
                                width: 11.11vw;
                                height: 11.11vw;

                            }
                        }
                    }
                }

                .content.active {}
            }

        }


    }

    // @media screen and (max-width:768px) {
    //     padding-bottom: 5.21vw;
    //     padding-top: 31.25vw;
    //     &__inner {

    //         &-up {

    //             ul {
    //                 font-size: 3.26vw;
    //                 letter-spacing: 0.2vw;
    //             }

    //             li {
    //                 font-size: 1.82vw;
    //                 letter-spacing: 0.4vw;

    //                 &:not(:last-child) {
    //                     margin-bottom: 1.56vw;
    //                 }

    //                 &:first-child {
    //                     margin-top: 2.08vw;
    //                 }
    //             }

    //         }
    //         &-upleft{
    //             width: 19.79vw;
    //             height: 19.79vw;
    //         }

    //         &-middle {
    //             margin: 5.47vw auto;
    //         }



    //         &-upmiddle {
    //             width: 91.80vw;
    //             row-gap: 3.13vw;
    //         }

    //         &-upright {
    //             gap: 2.08vw;

    //             &-first {
    //                 gap: 0.91vw;
    //             }

    //             &-txt {
    //                 font-size: 3.26vw;
    //                 letter-spacing: 0.16vw;

    //             }

    //             a {
    //                 font-size: 2.60vw;
    //                 letter-spacing: 0.13vw;
    //             }

    //             &-second {
    //                 font-size: 1.82vw;
    //                 letter-spacing: 0.2vw;
    //             }

    //             &-thirdin {

    //                 gap: 1.95vw;
    //             }

    //         }

    //         &-down {


    //             &-text {
    //                 font-size: 14px;
    //                 letter-spacing: 0.17vw;
    //                 text-align: center;
    //             }
    //         }
    //     }
    // }
}