.header {
    padding-top: 40px;
    max-width: 1100px;
    width: 100%;
    position: absolute;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);

    &__inner {
        display: flex;
        justify-content: space-between;
    }


    @media screen and (max-width:1440px) {
        padding-top: 2.78vw;
        max-width: 76.39vw;

    }

    @media screen and (max-width:768px) {
        padding-top: 5.21vw;
        max-width: 143.23vw;    
    }
}