.header {
    padding-top: 40px;
    background-color: #726c6c;
    position: relative;
    z-index: 1;
    &__inner {
        background-color: #726c6c;
        display: flex;
        justify-content: space-between;
    }


}