.header {
  padding-top: 40px;
  // max-width: 1100px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);

  @media (hover: hover) and (pointer: fine) {
    svg {
      &:hover {
        fill: #f5f5f5;
        fill-opacity: 1;
      }
    }
  }

  .menuHover {
    cursor: pointer;
  }

  &__up {
    &-menurigth {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.active {
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
      }
    }
    &-menuleft {
      cursor: pointer;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    svg {
      width: 45px;
      height: 45px;
      fill: rgb(213 213 213);
      fill-opacity: 0.2;
    }
    .burger-input {
      opacity: 0;
      max-width: 730px;
      max-height: 46px;
      width: 100%;
      background: var(--neo-glass-glass-linear, linear-gradient(136deg, rgba(255, 255, 255, 0.4) 7.57%, rgba(255, 255, 255, 0.1) 56.52%));
      text-align: center;
      position: relative;
      border-radius: 7px;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          border: 2px solid var(--prime-logo-bs-bcolours-almost-white, #f5f5f5);
          background: var(--neo-glass-glass-linear, linear-gradient(136deg, rgba(255, 255, 255, 0.4) 7.57%, rgba(255, 255, 255, 0.1) 56.52%));
          .inputSearch {
            fill: #ffffff;
            fill-opacity: 1;
          }
          input::placeholder {
            color: #ffffff;
          }
        }
      }
    }

    .inputSearch {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      fill: #f5f5f533;
      fill-opacity: 0.2;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 15 20;
      padding-left: 54px;
      border: 2px solid rgba(245, 245, 245, 0.2);
      // border-radius: 7px;
      &::placeholder {
        color: rgba(245, 245, 245, 0.2);
        overflow: hidden;
        color: rgba(245, 245, 245, 0.2);
        text-overflow: ellipsis;
        font-family: 'PT Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.7px;
      }
    }
    // .pc {
    //     width: 45px;
    //     height: 45px;
    // }
    // .mobile {
    //     width: 35px;
    //     height: 35px;
    // }
  }

  @media screen and (max-width: 1440px) {
    padding-top: 2.78vw;
    // max-width: 76.39vw;

    &__inner {
      svg {
        width: 3.13vw;
        height: 3.13vw;
      }
    }
    .burger-input {
      max-width: 50.69vw;
      max-height: 3.19vw;
      width: 100%;
      opacity: 0;
      width: 100%;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          border: 2px solid var(--prime-logo-bs-bcolours-almost-white, #f5f5f5);
          background: var(--neo-glass-glass-linear, linear-gradient(136deg, rgba(255, 255, 255, 0.4) 7.57%, rgba(255, 255, 255, 0.1) 56.52%));
          .inputSearch {
            fill: #ffffff;
            fill-opacity: 1;
          }
          input::placeholder {
            color: #ffffff;
          }
        }
      }

      .inputSearch {
        width: 1.67vw;
        height: 1.67vw;
        left: 1.39vw;
      }
      input {
        width: 100%;
        height: 100%;
        padding: 1.04vw 1.39vw;
        padding-left: 3.75vw;
        border: 2px solid rgba(245, 245, 245, 0.2);
        &::placeholder {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    max-width: 305.56vw;
    padding-top: 5vw;

    &__inner {
      // margin-top: 2.56vw;
      align-items: center;
      svg {
        width: 10vw;
        height: 10vw;
      }

      .left {
        width: 9.23vw;
        height: 9.23vw;
      }
    }
    .burger-input {
      max-width: 55.56vw;
      max-height: 10vw;
      width: 100%;
      opacity: 0;
      width: 100%;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          border: 2px solid var(--prime-logo-bs-bcolours-almost-white, #f5f5f5);
          background: var(--neo-glass-glass-linear, linear-gradient(136deg, rgba(255, 255, 255, 0.4) 7.57%, rgba(255, 255, 255, 0.1) 56.52%));
          .inputSearch {
            fill: #ffffff;
            fill-opacity: 1;
          }
          input::placeholder {
            color: #ffffff;
          }
        }
      }

      .inputSearch {
        width: 6.67vw;
        height: 6.67vw;
        left: 5.56vw;
      }
      input {
        width: 100%;
        border-radius: 7px;
        height: 100%;
        padding: 1.04vw 1.39vw;
        padding-left: 15vw;
        border: 2px solid rgba(245, 245, 245, 0.2);
        &::placeholder {
          font-size: 12px;
        }
      }
    }
  }
}
