.solution {
    padding-top: 80px;

    &__inner {
        max-height: 712px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 56px;
        position: relative;

        &-desr {
            max-width: 708px;
            color: var(--pantone-bsb-pantone-cool-grey, #B1B3B3);
            font-family: Handjet;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }

        &-up {
            position: absolute;
            right: -7%;
            top: 13%;
            display: none;
        }

        &-main {
            display: flex;
            justify-content: center;
            padding: 0 30px;
        }

        &-mainnames {
            position: relative;
            width: 100%;
            text-align: center;
            height: 588px;

            &:not(:last-child) {
                border-right: 5px solid #F5F5F5;


            }
        }

        &-mainbig {
            position: absolute;
            text-align: center;
            display: inline-block;
            z-index: -1;
            width: 279px;
            height: 242px;
            left: 50%;
            right: 50%;
            transform: translate(-50%, 31%);
        }

        &-mainsmall {
            color: var(--prime-logo-bs-bcolours-logo-blue-purple, #2D2650);
            font-family: Handjet;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            text-align: left;
            max-width: 270px;
            width: 100%;
            padding-top: 266px;
            display: inline-block;
        }
    }
}