mixin exper 
    .exper
        .container 
            .exper__inner
                .exper__inner-text
                    .exper__inner-textline
                        img(src="/assets/images/Line.svg", alt="") 
                    .exper__inner-textdesc Разнообразный и богатый опыт требует привлечения внимания к процессу расширения и намерения значительного развития. Идейные высокие порядки, также сложившаяся структура организации позволяют выполнять сложные задания по разработке системы обучения кадров, согласно насущным расчетам. Равным образом укрепленная и развитая структура требует от нас анализа новых предложений. Известно, что развитие различных форм активности играет важную роль в массовом скоплении людей. Товарищи! Рамки и место обучения кадров играют важную роль в моделях развития.
                .exper__inner-num
                    .exper__inner-one
                        img(src="/assets/images/one.svg", alt="")
                    .exper__inner-two
                        img(src="/assets/images/three.svg", alt="")
                    .exper__inner-three
                        img(src="/assets/images/two.svg", alt="")
                .exper__inner-numtext
                    .exper__inner-textnum.exper__inner-text--one
                        .exper__inner-textup КОМПЛЕКСНЫЕ ИТ-РЕШЕНИЯ
                        .exper__inner-textdown для обзора корпоративных клиентов и госзаказчиков
                    .exper__inner-textnum.exper__inner-text--two
                        .exper__inner-textup ОПЫТ РЕАЛИЗАЦИИ
                        .exper__inner-textdown сложных технологических проектов
                    .exper__inner-textnum.exper__inner-text--three 
                        .exper__inner-textup ЦЕЛЕВЫЕ КОМПЕТЕНЦИИ
                        .exper__inner-textdown по внедрению отраслевых ИТ-решений
            