mixin footer  
    .footer
        .container
            .footer__inner
                .footer__inner-up
                    .footer__inner-upleft
                        img(src="/assets/images/footerlogo.svg", alt="")
                    .footer__inner-upmiddle
                        ul Решения
                            li Информационная безопасность
                            li Информационные технологии
                            li Системы безопасности
                            li Импортозамещение  
                        ul Продукты
                            li Информационная безопасность
                            li Информационные технологии
                            li Системы безопасности
                            li
                        ul О компании
                            li Новости
                            li Вакансии
                            li Контактная информация
                            li
                        ul Экспертиза
                            li Кейсы
                        ul Услуги
                        ul Партнеры
                    .footer__inner-upright
                        .footer__inner-upright-first 
                            p.footer__inner-upright-txt +7 495 741-46-60 
                            p.footer__inner-upright-info: a(href="mailto:info@bd-decurity.ru?subject=Вопрос по HTML") info@bd-decurity.ru
                        .footer__inner-upright-second 121170, Российская,<br> Федерация, <br> г. Москва, ул. 1812 года, <br> д.10, к.2, кв.1
                        .footer__inner-upright-third 
                            .footer__inner-upright-thirdin 
                                img(src="/assets/images/footervk.svg", alt="")
                                img(src="/assets/images/footertg.svg", alt="")
                .footer__inner-middle
                    img(src="/assets/images/footerLine.svg", alt="")
                .footer__inner-down 
                    .footer__inner-down-text.footer__inner-down-textone © 2023 ООО «БС-БЕЗОПАСНОСТЬ»
                    .footer__inner-down-text.footer__inner-down-texttwo ИНН 7730561330 | ОГРН 5077746767995
                    .footer__inner-down-text.footer__inner-down-textthree Политика конфиденциальности
                    .footer__inner-down-text.footer__inner-down-textfour Разработано в 
                        img(src="/assets/images/asteqLogo.svg", alt="")