mixin footer  
    .footer
        .container
            .footer__inner
                .footer__inner-up
                    .footer__inner-upleft
                        img(src="/assets/images/footerlogo.svg", alt="")
                    .footer__inner-upmiddle
                        .footer__inner-upmiddle--up
                            ul Решения
                                li Информационная безопасность
                                li Информационные технологии
                                li Системы безопасности
                                li Импортозамещение  
                            ul Продукты
                                li Информационная безопасность
                                li Информационные технологии
                                li Системы безопасности
                                li
                            ul О компании
                                li Новости
                                li Вакансии
                                li Контактная информация
                                li
                        .footer_inner-upmiddle--down
                            ul Экспертиза
                                li Кейсы
                                li
                                li
                                li
                            ul Услуги
                                li 
                                li 
                                li
                                l
                            ul О компании
                                li Новости
                                li Вакансии
                                li Контактная информация
                    .footer_inner-up
                        .footer_inner-up-first
                        .footer_inner-up-second
                        .footer_inner-up-third
                .footer_inner-down

