mixin form
    .form
        .container
            .form__inner
                .form__inner-title // напишите нам
                .form__inner-main
                    form.main__form
                        .main__form-desc ЗАПОЛНИТЕ АНКЕТУ И МЫ СВЯЖЕМСЯ С ВАМИ В ТЕЧЕНИИ ТРЕХ ДНЕЙ:            
                        .main__form-fio
                            input(type="text" name="ФИО" placeholder="ФИО")  
                        .main__form-num-mail
                            input(type="numder" name="Номер телефона" placeholder="Номер телефона") 
                            input(type="email" name="E-mail" placeholder="E-mail") 
                        .main__form-commit 
                            input(type="text" name="Комментарий" placeholder="Комментарий") 
                        .main__form-button
                            p Нажимая на кнопку "Отправить" вы соглашаетесь на обработку внесенных вами данных
                            button Отправить




