mixin header 
    .header
        .container
            .header__inner
                .header__up-menuleft
                    img.left(src="/assets/icons/LOGOVector.svg", alt="")
                .header__up-menurigth
                    img.right(src="/assets/icons/LOGOVectoright.svg", alt="")