mixin header 
    .header
        .container
            .header__inner
                .header__up-menuleft
                    img.left(src="/assets/icons/LOGOVector.svg", alt="")
                .header__up-menurigth#openBurger
                    img.right(src="/assets/icons/LOGOVectoright.svg", alt="")
        .burger-menu#burger
            .container 
                .burger-menu-inner
                    .burger-input
                        input(type="text")
                    .burger-main
                        ul Решения
                            li Информационная безопасность
                            li Информационные технологии
                            li Системы безопасности
                            li Импортозамещение  
                        ul Продукты
                            li Информационная безопасность
                            li Информационные технологии
                            li Системы безопасности
                            li
                        ul О компании
                            li Сертификаты и лицензии
                            li Вакансии
                            li Контактная информация
                            li
                        ul Экспертиза
                            li Кейсы
                            li Информационные технологии
                            li Системы безопасности
                        ul Услуги
                            li Сертификаты и лицензии
                            li Вакансии
                            li Контактная информация
                        ul Партнеры
                    .burger-application
                        .burger-application--text 
                            p.big Заинтересовались нашими услугами?
                            p.small Оставьте заявку и мы обязательно свяжемся с Вами!
                        button.burger-application--btn
                            span Оставить заявку

                        
