mixin header 
    .header
        .container
            .header__inner
                .header__up-menuleft
                    img.left(src="/assets/icons/LOGOVector.svg", alt="")
                .header__up-menurigth#openBurger
                    img.right(src="/assets/icons/LOGOVectoright.svg", alt="")
        .burger-menu#burger
            .container 
                .burger-menu-inner
                    .burger-input
                        input(type="text")
                    .burger-main
                        ul Решения
                            li Информационная безопасность
                            li Информационные технологии
                            li Системы безопасности
                            li Импортозамещение  
                        ul Продукты
                            li Информационная безопасность
                            li Информационные технологии
                            li Системы безопасности
                            li
                        ul О компании
                            li Сертификаты и лицензии
                            li Вакансии
                            li Контактная информация
                            li
                        ul Экспертиза
                            li Кейсы
                            li Информационные технологии
                            li Системы безопасности
                        ul Услуги
                            li Сертификаты и лицензии
                            li Вакансии
                            li Контактная информация
                        ul Партнеры
                    .burger-application
                        .burger-application--text 
                            p.big Заинтересовались нашими услугами?
                            p.small Оставьте заявку и мы обязательно свяжемся с Вами!
                        button.burger-application--btn
                            span Оставить заявку
                    .burger-info
                        .burger-info--left
                            p.num +7 495 741-46-60
                            p.mail info@bd-decurity.ru
                        .burger-info--right
                            .burger-info--right--img
                                img(src="/assets/images/footervk.svg", alt="")
                                img(src="/assets/images/footertg.svg", alt="")
                            .burger-info--right--text
                                p 121170, Российская Федерация,<br>г. Москва, ул. 1812 года, д.10, к.2, кв.1

                        
