mixin level
    .level
        .container
            .level__inner
                .level__inner-desc // уровень экспертности нашей команды
                .level__inner-main
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            img(src="/assets/images/Pix100.svg", alt="")
                        .level__inner-maintxt СИСТЕМНАЯ ИНТЕГРАЦИЯ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            img(src="/assets/images/Pix100.svg", alt="")
                        .level__inner-maintxt
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            img(src="/assets/images/Pix100.svg", alt="")
                        .level__inner-maintxt
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            img(src="/assets/images/Pix100.svg", alt="")
                        .level__inner-maintxt