mixin level
    .level
        .container
            .level__inner
                .level__inner-title // уровень экспертности нашей команды
                .level__inner-main
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num 15
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-first СИСТЕМНАЯ ИНТЕГРАЦИЯ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num 15
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-second ПРОЕКТНЫЕ РЕШЕНИЯ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num 15
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-third АУТСОРСИНГ И ОБЛАЧНЫЕ СЕРВИСЫ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num 15
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-fourth УСЛУГИ В ОБЛАСТИ ИТ/ИБД