mixin level
    .level
        .container
            .level__inner
                .level__inner-title // уровень экспертности нашей команды
                .level__inner-main.element-animation
                    .level__inner-main-loader
                        .level__inner-main-loader-square
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num.num--one 
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-first СИСТЕМНАЯ ИНТЕГРАЦИЯ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num.num--two 
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-second ПРОЕКТНЫЕ РЕШЕНИЯ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num.num--two 
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-third АУТСОРСИНГ И ОБЛАЧНЫЕ СЕРВИСЫ
                    .level__inner-mainlvl
                        .level__inner-mainimg
                            p.num.num--two 
                            p.percent %
                        .level__inner-maintxt.level__inner-maintxt-fourth УСЛУГИ В ОБЛАСТИ ИТ/ИБ