mixin name
    +header 
    .name
        .container
            .name__inner
                .name__inner-title
                    .name__inner-title--bsb 
                        p БСБ-
                        img.bsbmobile(src="./assets/images/BSB.svg", alt="")
                    .name__inner-title--business
                        img(src="./assets/images/business.svg", alt="")
                    .name__inner-title--sistem
                    .name__inner-title--safety
                .name__inner-text ЭКСПЕРТИЗА В ОБЛАСТИ <br> ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ И БЕЗОПАСНОСТИ
                .name__inner-logo
                    img.pc(src="./assets/images/lg.svg", alt="")
                    img.mobile(src="./assets/images/mobilelogo.svg", alt="")


