mixin name
    .name
        .container
            .name__inner
                .name__inner-title
                    img(src="./assets/icons/PixMainPageHeader.svg", alt="")
                .name__inner-text ЭКСПЕРТИЗА В ОБЛАСТИ <br> ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ И БЕЗОПАСНОСТИ
                .name__inner-logo
                    img(src="./assets/images/lg.svg", alt="")

