mixin name
    +header 
    .name
        .container
            .name__inner
                .name__inner-title
                    .name__inner-title--bsb 
                        p БСБ-
                        img.bsbmobile(src="./assets/images/BSB.svg", alt="")
                    .name__inner-title--main 
                        .name__inner-title--block
                            .name__inner-title--business
                                img(src="./assets/images/business.svg", alt="")
                            .name__inner-title--sistem
                                img(src="./assets/images/sistem.svg", alt="")
                            .name__inner-title--safety
                                img(src="./assets/images/safety.svg", alt="")
                .name__inner-text ЭКСПЕРТИЗА В ОБЛАСТИ <br> ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ И БЕЗОПАСНОСТИ
                .name__inner-logo
                    img.pc(src="./assets/images/lg.svg", alt="")
                    img.mobile(src="./assets/images/mobilelogo.svg", alt="")


