mixin solution 
    .solution
        .container 
            .solution__inner
                .solution__inner-desr // решения в области информационных технологий и безопасности
                .solution__inner-up 
                     img(src="/assets/images/UP.svg", alt="")
                .solution__inner-main
                    .solution__inner-mainnames.it
                        .solution__inner-mainbig
                            img(src="/assets/images/IT.svg", alt="")
                        .solution__inner-mainsmall 
                            p.pc инфраструктурные <br> ИТ-РЕШЕНИЯ И СИСТЕМЫ
                            p.mobile Идейные высокие порядки, также сложившаяся структура организации позволяют выполнять сложные задания по разработке системы обучения кадров, согласно насущным расчетам.
                        .solution-hovereffect
                            .solution__inner-hovereffect
                                img(src="/assets/images/ITillustration.svg", alt="")
                                p.solution__inner-hovereffect--text Подробнее
                    .solution__inner-mainnames.it
                        .solution__inner-mainbig
                            img(src="/assets/images/IB.svg", alt="")
                        .solution__inner-mainsmall 
                            p.pc Решения  по <br>информационной безопасности
                            p.mobile Идейные высокие порядки, также сложившаяся структура организации позволяют выполнять сложные задания по разработке системы обучения кадров, согласно насущным расчетам.
                        .solution-hovereffect
                            .solution__inner-hovereffect
                                img(src="/assets/images/IBillustration.svg", alt="")
                                p.solution__inner-hovereffect--text Подробнее          
                    .solution__inner-mainnames.it
                        .solution__inner-mainbig 
                            img(src="/assets/images/SB.svg", alt="")
                        .solution__inner-mainsmall 
                            p.pc Системы безопасности
                            p.mobile Идейные высокие порядки, также сложившаяся структура организации позволяют выполнять сложные задания по разработке системы обучения кадров, согласно насущным расчетам.
                        .solution-hovereffect
                            .solution__inner-hovereffect
                                img(src="/assets/images/SBillustration.svg", alt="")
                                p.solution__inner-hovereffect--text Подробнее          


