mixin swiper
    .swiper__up
        .swiper__up-inner.container 
            .swiper__up-title // партнеры
            .swiper-wrapper
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Google
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=adidas.svg", alt="")
                    p.swiper__up--name Adidas
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=apple.svg", alt="")
                    p.swiper__up--name Apple
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name United colors of benetton
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Coca-Cola
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Hyundai
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Jewel
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Jewel
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Jewel
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Jewel
                .swiper-slide
                    img(src="./assets/swiper/LogoBox=google.svg", alt="")
                    p.swiper__up--name Jewel
        .swiper-botton--up
            .swiper__up-botton-prev
                img(src="./assets/swiper/prevSlide.svg", alt="")
            .swiper__up-botton-next
                img(src="./assets/swiper/nextSlide.svg", alt="")
    .swiper__down 
        .swiper__down-inner.container 
            .swiper-wrapper
                .swiper-slide
                    .news__data
                        p.swiper__down--data 23.07.2023
                    .news__text
                        p.swiper__down--text Длинное название новости в две строки
                        p.swiper__down--desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                .swiper-slide
                    .news__data
                        p.swiper__down--data 23.07.2023
                    .news__text
                        p.swiper__down--text Длинное название новости в две строки
                        p.swiper__down--desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                .swiper-slide
                    .news__data
                        p.swiper__down--data 23.07.2023
                    .news__text
                        p.swiper__down--text Длинное название новости в две строки
                        p.swiper__down--desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
        .swiper-botton--down
            .swiper__down-botton-prev
                img(src="./assets/swiper/prevSlide.svg", alt="")
            .swiper__down-botton-next
                img(src="./assets/swiper/nextSlide.svg", alt="")







//-      Slider main container
//- <div class="swiper">
//-      Additional required wrapper
//-   <div class="swiper-wrapper">
//-       Slides
//-     <div class="swiper-slide">Slide 1</div>
//-     <div class="swiper-slide">Slide 2</div>
//-     <div class="swiper-slide">Slide 3</div>
//-   </div>
//-     If we need pagination 
//-   <div class="swiper-pagination"></div>

//-     If we need navigation buttons
//-   <div class="swiper-button-prev"></div>
//-   <div class="swiper-button-next"></div>



//-      If we need scrollbar //
//-    <div class="swiper-scrollbar"></div>
//- </div>