mixin swiper
    .swiper__up
        .container
            .swiper__up-container
                .swiper__up-title  // партнеры
                .swiper__up-inner-container  
                    .swiper__up-inner
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Google
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=adidas.svg", alt="")
                                p.swiper-slide-up-name Adidas
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=apple.svg", alt="")
                                p.swiper-slide-up-name Apple
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name United colors of benetton
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Coca-Cola
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Hyundai
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Jewel
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Jewel
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Jewel
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Jewel
                            .swiper-slide
                                img(src="./assets/swiper/LogoBox=google.svg", alt="")
                                p.swiper-slide-up-name Jewel
                    .swiper-button--up
                        .swiper__up-button-prev
                            img(src="./assets/swiper/prevSlide.svg", alt="")
                        .swiper__up-button-next
                            img(src="./assets/swiper/nextSlide.svg", alt="")
    .swiper__down
        .container
            .swiper__down-container
                .swiper__down-inner
                    .swiper-wrapper
                        .swiper-slide
                            .swiper__down-inner-news-data
                                p.swiper__down-inner-news-data-item 23.07.2023
                            .swiper__down-inner-news-text
                                p.swiper__down-inner-news-text-main Длинное название новости в две строки
                                p.swiper__down-inner-news-text-desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                        .swiper-slide
                            .swiper__down-inner-news-data
                                p.swiper__down-inner-news-data-item 23.07.2023
                            .swiper__down-inner-news-text
                                p.swiper__down-inner-news-text-main Длинное название новости в две строки
                                p.swiper__down-inner-news-text-desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                        .swiper-slide
                            .swiper__down-inner-news-data
                                p.swiper__down-inner-news-data-item 23.07.2023
                            .swiper__down-inner-news-text
                                p.swiper__down-inner-news-text-main Длинное название новости в две строки
                                p.swiper__down-inner-news-text-desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                        .swiper-slide
                            .swiper__down-inner-news-data
                                p.swiper__down-inner-news-data-item 23.07.2023
                            .swiper__down-inner-news-text
                                p.swiper__down-inner-news-text-main Длинное название новости в две строки
                                p.swiper__down-inner-news-text-desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                        .swiper-slide
                            .swiper__down-inner-news-data
                                p.swiper__down-inner-news-data-item 23.07.2023
                            .swiper__down-inner-news-text
                                p.swiper__down-inner-news-text-main Длинное название новости в две строки
                                p.swiper__down-inner-news-text-desc Предварительные выводы неутешительны: укрепление и развитие внутренней структуры позволяет выполнить
                .swiper-button--down
                    .swiper__down-button-prev
                        img(src="./assets/swiper/prevSlide.svg", alt="")
                    .swiper__down-button-next
                        img(src="./assets/swiper/nextSlide.svg", alt="")






