mixin tools  
    .tools 
       .tools__inner
            .tools__inner-title.container  // Инструменты и технологии
            .tools__inner-main
                .tools__inner-main--txt
                    .tools__inner-main--txtup СКБ контур
                    .tools__inner-main--txtup Яндекс. облако
                .tools__inner-main--txt 
                    .tools__inner-main--txtdown 1С: предприятие 
                    .tools__inner-main--image 
                        img(src="/assets/images/Ya.svg" alt="") 
                    .tools__inner-main--txtdown Битрикс 24
            .tools__inner-card.container
                .tools__inner-card--item
                    .tools__inner-card--image 
                        img(src="/assets/images/cloud.svg", alt="")
                    .tools__inner-card--textbtn
                        .tools__inner-card--text 
                            p.txtup Инфраструктурные ИТ-решения и системы
                            p.txtdown Равным образом, высококачественный прототип будущего проекта предполагает независимые способы реализации стандартных подходов. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. Кстати,  действия представителей оппозиции ограничены исключительно образом мышления...
                        .tools__inner-card--btn
                            button Продолжить
                .tools__inner-card--item
                    .tools__inner-card--textbtn
                        .tools__inner-card--text 
                            p.txtup решения по информационной безопасности
                            p.txtdown Равным образом сложившаяся структура организации способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий...
                        .tools__inner-card--btn
                            button Продолжить
                    .tools__inner-card--image
                        img(src="/assets/images/eye.svg", alt="")
                .tools__inner-card--item
                    .tools__inner-card--image
                        img(src="./assets/images/lock.svg", alt="")
                    .tools__inner-card--textbtn
                        .tools__inner-card--text
                            p.txtup Системы безопасности
                            p.txtdown Современные технологии достигли такого уровня, что социально-экономическое развитие, в своём классическом представлении, допускает внедрение укрепления моральных ценностей. Однозначно, акционеры крупнейших компаний объявлены нарушающими общечеловеческие нормы этики и морали. Кстати,  стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть разоблачены. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада предопределяет высокую востребованность экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: разбавленное изрядной долей эмпатии,
                        .tools__inner-card--btn
                            button Продолжить

                                    
                        


