mixin tools  
    .tools 
       .tools__inner
            .tools__inner-title.container  // Инструменты и технологии
            .tools__inner-main
                .tools__inner-mainup
                    .tools__inner-main--txtup
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
                    .tools__inner-main--txtup
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
                .tools__inner-maindown
                    .tools__inner-main--txtdown
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
                    .tools__inner-main--txtdown
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
            .tools__inner-card.container
                .tools__inner-card--item
                    .tools__inner-card--image 
                        <svg class="tools__inner-card--image--cloud " width="289" height="273" viewBox="0 0 289 273" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_642_1431)">
                        <path d="M181.833 14.4031H113.833V37.0697H91.1667V59.7364H45.8333V82.4031H23.1667V105.07H0.5V173.07H23.1667V195.736H249.833V173.07H272.5V105.07H249.833V82.4031H227.167V59.7364H204.5V37.0697H181.833V14.4031ZM204.5 105.07H249.833V173.07H23.1667V105.07H45.8333V82.4031H91.1667V105.07H113.833V82.4031H91.1667V59.7364H113.833V37.0697H181.833V59.7364H204.5V105.07ZM204.5 105.07V127.736H181.833V105.07H204.5Z" fill="#DFDC01"/>
                        <path id = "cloudCursor"  fill-rule="evenodd" clip-rule="evenodd" d="M96.8329 94.1565H149.092V111.576H96.8329V94.1565ZM79.4131 128.996H96.8329V111.576H79.4131V128.996ZM44.5736 146.416H79.4131V128.996H44.5736V146.416ZM27.1539 163.836H44.5736V146.416H27.1539V163.836ZM27.1539 216.095V163.836H9.73413V216.095H27.1539ZM201.351 216.095H27.1539V233.515H201.351V216.095ZM201.351 163.836H218.771V216.095H201.351V163.836ZM166.512 128.996H149.092V111.576H166.512V128.996ZM166.512 128.996V163.836H201.351V146.416H183.932V128.996H166.512Z" fill="#2D2650"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_642_1431">
                        <rect width="272" height="272" fill="white" transform="translate(0.5 0.131592)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        p.txtupmobile Инфраструктурные ИТ-решения и системы
                    .tools__inner-card--textbtn
                        .tools__inner-card--text 
                            p.txtup Инфраструктурные ИТ-решения и системы
                            p.txtdown Равным образом, высококачественный прототип будущего проекта предполагает независимые способы реализации стандартных подходов. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. Кстати,  действия представителей оппозиции ограничены исключительно образом мышления...
                        button.tools__inner-card--btn 
                            span Продолжить
                .tools__inner-card--item
                    .tools__inner-card--textbtn
                        .tools__inner-card--text 
                            p.txtup решения по информационной безопасности
                            p.txtdown Равным образом сложившаяся структура организации способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий...
                        button.tools__inner-card--btn 
                            span Продолжить
                    .tools__inner-card--image
                        <svg class="tools__inner-card--image--eye " width="273" height="273" viewBox="0 0 273 273" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_642_1449)">
                        <path d="M91.1665 0.131592V22.7816H23.1665V79.3064H0.499817V22.7816V0.131592H23.1665H91.1665Z" fill="#DFDC01"/>
                        <path d="M181.833 22.7816V0.131592H249.833H272.5V22.7816V79.3064H249.833V22.7816H181.833Z" fill="#DFDC01"/>
                        <path d="M91.1665 249.482V272.132H23.1665H0.499817V249.482V192.957H23.1665V249.482H91.1665Z" fill="#DFDC01"/>
                        <path d="M181.833 249.482V272.132H249.833H272.5V249.482V192.957H249.833V249.482H181.833Z" fill="#DFDC01"/>
                        <path d="M104.28 76.8867H168.72V93.7539H104.28V76.8867ZM72.0594 110.621V93.7539H104.28V110.621H72.0594ZM55.9493 127.488V110.621H72.0594V127.488H55.9493ZM55.9493 144.356V127.488H39.8391V144.356H55.9493ZM72.0594 161.223H55.9493V144.356H72.0594V161.223ZM104.28 178.09H72.0594V161.223H104.28V178.09ZM168.72 178.09V194.957H104.28V178.09H168.72ZM200.941 161.223V178.09H168.72V161.223H200.941ZM217.051 144.356V161.223H200.941V144.356H217.051ZM217.051 127.488H233.161V144.356H217.051V127.488ZM200.941 110.621H217.051V127.488H200.941V110.621ZM200.941 110.621V93.7539H168.72V110.621H200.941Z" fill="#2D2650"/>
                        <path id = "eyeCursor" d="M150.876 120.87H122.124V150.973H150.876V120.87Z" fill="#DFDC01"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_642_1449">
                        <rect width="272" height="272" fill="white" transform="translate(0.5 0.131592)"/>
                        </clipPath>
                        </defs>
                        </svg>
                        p.txtupmobile решения по информационной безопасности
                .tools__inner-card--item
                    .tools__inner-card--image
                        img(src="./assets/images/lock.svg", alt="")
                        p.txtupmobile Системы безопасности
                    .tools__inner-card--textbtn
                        .tools__inner-card--text
                            p.txtup Системы безопасности
                            p.txtdown Современные технологии достигли такого уровня, что социально-экономическое развитие, в своём классическом представлении, допускает внедрение укрепления моральных ценностей. Однозначно, акционеры крупнейших компаний объявлены нарушающими общечеловеческие нормы этики и морали. Кстати,  стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть разоблачены. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада предопределяет высокую востребованность экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: разбавленное изрядной долей эмпатии,
                        button.tools__inner-card--btn 
                            span Продолжить


                                    
                        


