mixin tools  
    .tools 
       .tools__inner
            .tools__inner-title.container  // Инструменты и технологии
            .tools__inner-main
                .tools__inner-mainup
                    .tools__inner-main--txtup
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
                    .tools__inner-main--txtup
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
                .tools__inner-maindown
                    .tools__inner-main--txtdown
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
                    .tools__inner-main--txtdown
                        p.black СКБ контур 
                        p.black Яндекс. облако
                        p.transparent.yellowbord 1С: предприятие
                        img(src="/assets/images/Kaspersky.svg", alt="")
                        p.transparent Битрикс 24
                        img(src="/assets/images/Kontur.svg", alt="")
                        img(src="/assets/images/Ya.svg", alt="")
                        p.transparent.yellowbord 1С: предприятие
                        p.yellow Kaspersky
                        img(src="/assets/images/Bitriks.svg", alt="")
                        //- .tools__inner-main--txtup Яндекс. облако
            .tools__inner-card.container
                .tools__inner-card--item
                    .tools__inner-card--image 
                        img(src="/assets/images/cloud.svg", alt="")
                        p.txtupmobile Инфраструктурные ИТ-решения и системы
                    .tools__inner-card--textbtn
                        .tools__inner-card--text 
                            p.txtup Инфраструктурные ИТ-решения и системы
                            p.txtdown Равным образом, высококачественный прототип будущего проекта предполагает независимые способы реализации стандартных подходов. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объективно рассмотрены соответствующими инстанциями. Кстати,  действия представителей оппозиции ограничены исключительно образом мышления...
                        button.tools__inner-card--btn 
                            span Продолжить
                .tools__inner-card--item
                    .tools__inner-card--textbtn
                        .tools__inner-card--text 
                            p.txtup решения по информационной безопасности
                            p.txtdown Равным образом сложившаяся структура организации способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий...
                        button.tools__inner-card--btn 
                            span Продолжить
                    .tools__inner-card--image
                        img(src="/assets/images/eye.svg", alt="")
                        p.txtupmobile решения по информационной безопасности
                .tools__inner-card--item
                    .tools__inner-card--image
                        img(src="./assets/images/lock.svg", alt="")
                        p.txtupmobile Системы безопасности
                    .tools__inner-card--textbtn
                        .tools__inner-card--text
                            p.txtup Системы безопасности
                            p.txtdown Современные технологии достигли такого уровня, что социально-экономическое развитие, в своём классическом представлении, допускает внедрение укрепления моральных ценностей. Однозначно, акционеры крупнейших компаний объявлены нарушающими общечеловеческие нормы этики и морали. Кстати,  стремящиеся вытеснить традиционное производство, нанотехнологии, вне зависимости от их уровня, должны быть разоблачены. Повседневная практика показывает, что высокотехнологичная концепция общественного уклада предопределяет высокую востребованность экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: разбавленное изрядной долей эмпатии,
                        button.tools__inner-card--btn 
                            span Продолжить


                                    
                        


