/* ================================ Fonts ================================ */
@import './fonts.scss';

/* ================================ Animations ================================ */
@import './_animations/**/*.scss';

/* ================================ Styles ================================ */
@import './_styles/*.scss';

/* ================================ Reset ================================ */
@import './reset.scss';

/* ================================ Base ================================ */
@import './-base/**/*.scss';

/* ================================ Combinations ================================ */
@import './-combinations/**/*.scss';

/* ================================ Modules ================================ */
@import './-modules/**/*.scss';

/* ================================ Global Modifications ================================ */
@import './mods/**/*.scss';


.container{
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}