include layouts/_base
include layouts/_combinations
include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/name.pug
include layouts/components/solution.pug
include layouts/components/level.pug
include layouts/components/exper.pug

html(lang='ru')
  +m-head
  +header
  +name
  +exper
  +solution
  +level
  body